In [1]:
import pandas as pd
import numpy as np
import matplotlib as mpl
import seaborn as sns

In [2]:
covid = pd.read_csv('/Users/uce/Desktop/DataAnalytics/data-labs/LabsUros/week5/Happiness-Team/data/WHO-Covid-cummulativecsv.csv')

In [3]:
covid.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 127980 entries, 0 to 127979
Data columns (total 8 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Date_reported      127980 non-null  object
 1   Country_code       127440 non-null  object
 2   Country            127980 non-null  object
 3   WHO_region         127980 non-null  object
 4   New_cases          127980 non-null  int64
 5   Cumulative_cases   127980 non-null  int64
 6   New_deaths         127980 non-null  int64
 7   Cumulative_deaths  127980 non-null  int64
dtypes: int64(4), object(4)
memory usage: 7.8+ MB

In [4]:
covid.drop(['Country_code'], axis=1, inplace=True)

In [5]:
covid.head()

,Date_reported,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
0,2020-01-03,Afghanistan,EMRO,0,0,0,0
1,2020-01-04,Afghanistan,EMRO,0,0,0,0
2,2020-01-05,Afghanistan,EMRO,0,0,0,0
3,2020-01-06,Afghanistan,EMRO,0,0,0,0
4,2020-01-07,Afghanistan,EMRO,0,0,0,0

In [6]:
palestine = covid[covid['Country'].str.contains('Palestinian')]['Country'].unique()[0]
covid.loc[covid['Country'].str.contains('Palestinian'), 'Country']='Palestine'

In [7]:
len(covid['Country'].unique())

237

In [8]:
covid['Date_reported'] = pd.to_datetime(covid['Date_reported'])

In [9]:
covid.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 127980 entries, 0 to 127979
Data columns (total 7 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Date_reported      127980 non-null  datetime64[ns]
 1   Country            127980 non-null  object
 2   WHO_region         127980 non-null  object
 3   New_cases          127980 non-null  int64
 4   Cumulative_cases   127980 non-null  int64
 5   New_deaths         127980 non-null  int64
 6   Cumulative_deaths  127980 non-null  int64
dtypes: datetime64[ns](1), int64(4), object(2)
memory usage: 6.8+ MB

In [10]:
cummulative_cols = covid[['Country', 'Date_reported', 'Cumulative_cases', 'Cumulative_deaths']].copy() #creating a copy of cummulative columns

In [11]:
cummulative_cols.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 127980 entries, 0 to 127979
Data columns (total 4 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Country            127980 non-null  object
 1   Date_reported      127980 non-null  datetime64[ns]
 2   Cumulative_cases   127980 non-null  int64
 3   Cumulative_deaths  127980 non-null  int64
dtypes: datetime64[ns](1), int64(2), object(1)
memory usage: 3.9+ MB

In [12]:
covid.drop(['Cumulative_cases', 'Cumulative_deaths'], axis=1, inplace=True)

In [27]:
covid.loc[(covid['Date_reported'].dt.month == 6) & (covid['Date_reported'].dt.day == 25) & (covid['Date_reported'].dt.year == 2021)]

       Date_reported            Country WHO_region  New_cases  New_deaths
539       2021-06-25        Afghanistan       EMRO       2060          67
1079      2021-06-25            Albania       EURO          2           0
1619      2021-06-25            Algeria       AFRO        354           9
2159      2021-06-25     American Samoa       WPRO          0           0
2699      2021-06-25            Andorra       EURO          4           0
...              ...                ...        ...        ...         ...
125819    2021-06-25           Viet Nam       WPRO        334           2
126359    2021-06-25  Wallis and Futuna       WPRO          0           0
126899    2021-06-25              Yemen       EMRO          7           1
127439    2021-06-25             Zambia       AFRO       3594          61
127979    2021-06-25           Zimbabwe       AFRO        826          17

[237 rows x 5 columns]

In [28]:
cummulative_by_year = cummulative_cols.loc[((cummulative_cols['Date_reported'].dt.month == 12) & (cummulative_cols['Date_reported'].dt.day == 31) & (cummulative_cols['Date_reported'].dt.year == 2020)) | ((cummulative_cols['Date_reported'].dt.month == 6) & (cummulative_cols['Date_reported'].dt.day == 25) & (cummulative_cols['Date_reported'].dt.year == 2021))]

In [30]:
cummulative_by_year.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 474 entries, 363 to 127979
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Country            474 non-null    object
 1   Date_reported      474 non-null    datetime64[ns]
 2   Cumulative_cases   474 non-null    int64
 3   Cumulative_deaths  474 non-null    int64
dtypes: datetime64[ns](1), int64(2), object(1)
memory usage: 18.5+ KB

In [31]:
cummulative_by_year.sort_index(inplace=True)

In [32]:
cummulative_by_year.head(30)

                  Country Date_reported  Cumulative_cases  Cumulative_deaths
363           Afghanistan    2020-12-31             52330               2189
539           Afghanistan    2021-06-25            111592               4519
903               Albania    2020-12-31             57727               1174
1079              Albania    2021-06-25            132499               2455
1443              Algeria    2020-12-31             99311               2751
1619              Algeria    2021-06-25            137403               3669
1983       American Samoa    2020-12-31                 0                  0
2159       American Samoa    2021-06-25                 0                  0
2523              Andorra    2020-12-31              7983                 84
2699              Andorra    2021-06-25             13877                127
3063               Angola    2020-12-31             17371                399
3239               Angola    2021-06-25             38091                881
3603             Anguilla    2020-12-31                13                  0
3779             Anguilla    2021-06-25               109                  0
4143  Antigua and Barbuda    2020-12-31               158                  5
4319  Antigua and Barbuda    2021-06-25              1263                 42
4683            Argentina    2020-12-31           1602163              43018
4859            Argentina    2021-06-25           4326101              90986
5223              Armenia    2020-12-31            158191               2802
5399              Armenia    2021-06-25            224635               4505
5763                Aruba    2020-12-31              5373                 49
5939                Aruba    2021-06-25             11118                107
6303            Australia    2020-12-31             28381                909
6479            Australia    2021-06-25             30408                910
6843              Austria    2020-12-31            356351               6086
7019              Austria    2021-06-25            645862              10439
7383           Azerbaijan    2020-12-31            216584               2575
7559           Azerbaijan    2021-06-25            335676               4965
7923              Bahamas    2020-12-31              7857                170
8099              Bahamas    2021-06-25             12407                244

### Grouping and summing new_cases and New_deaths by month and year

In [36]:
covid['month'] = covid['Date_reported'].dt.month

In [37]:
covid['year'] = covid['Date_reported'].dt.year

In [38]:
group_by_year_sum = covid.groupby(['Country', 'year']).agg({'New_cases':'sum', 'New_deaths':'sum'})

In [40]:
group_by_year_sum.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 474 entries, ('Afghanistan', 2020) to ('Zimbabwe', 2021)
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   New_cases   474 non-null    int64
 1   New_deaths  474 non-null    int64
dtypes: int64(2)
memory usage: 10.8+ KB

In [41]:
group_by_year_sum.sort_values(by=['Country', 'year'], inplace=True) # sorting

In [43]:
group_by_year_sum

                  New_cases  New_deaths
Country     year
Afghanistan 2020      52330        2189
            2021      59262        2330
Albania     2020      57727        1174
            2021      74772        1281
Algeria     2020      99311        2751
...                     ...         ...
Yemen       2021       4804         745
Zambia      2020      20462         386
            2021     120158        1469
Zimbabwe    2020      13625         360
            2021      30681        1349

[474 rows x 2 columns]

In [44]:
group_by_year_sum = group_by_year_sum.reset_index()

In [45]:
cummulative_by_year = cummulative_by_year.reset_index()

In [46]:
group_by_year_sum.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 474 entries, 0 to 473
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Country     474 non-null    object
 1   year        474 non-null    int64
 2   New_cases   474 non-null    int64
 3   New_deaths  474 non-null    int64
dtypes: int64(3), object(1)
memory usage: 14.9+ KB

In [47]:
len(group_by_year_sum['Country'].unique())

237

In [48]:
len(cummulative_by_year['Country'].unique())

237

In [49]:
cummulative_by_year.head(20)

,index,Country,Date_reported,Cumulative_cases,Cumulative_deaths
0,363,Afghanistan,2020-12-31,52330,2189
1,539,Afghanistan,2021-06-25,111592,4519
2,903,Albania,2020-12-31,57727,1174
3,1079,Albania,2021-06-25,132499,2455
4,1443,Algeria,2020-12-31,99311,2751
5,1619,Algeria,2021-06-25,137403,3669
6,1983,American Samoa,2020-12-31,0,0
7,2159,American Samoa,2021-06-25,0,0
8,2523,Andorra,2020-12-31,7983,84
9,2699,Andorra,2021-06-25,13877,127
10,3063,Angola,2020-12-31,17371,399
11,3239,Angola,2021-06-25,38091,881
12,3603,Anguilla,2020-12-31,13,0
13,3779,Anguilla,2021-06-25,109,0
14,4143,Antigua and Barbuda,2020-12-31,158,5
15,4319,Antigua and Barbuda,2021-06-25,1263,42
16,4683,Argentina,2020-12-31,1602163,43018
17,4859,Argentina,2021-06-25,4326101,90986
18,5223,Armenia,2020-12-31,158191,2802
19,5399,Armenia,2021-06-25,224635,4505

In [50]:
group_by_year_sum.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 474 entries, 0 to 473
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Country     474 non-null    object
 1   year        474 non-null    int64
 2   New_cases   474 non-null    int64
 3   New_deaths  474 non-null    int64
dtypes: int64(3), object(1)
memory usage: 14.9+ KB

In [51]:
cummulative_by_year

      index      Country Date_reported  Cumulative_cases  Cumulative_deaths
0       363  Afghanistan    2020-12-31             52330               2189
1       539  Afghanistan    2021-06-25            111592               4519
2       903      Albania    2020-12-31             57727               1174
3      1079      Albania    2021-06-25            132499               2455
4      1443      Algeria    2020-12-31             99311               2751
..      ...          ...           ...               ...                ...
469  126899        Yemen    2021-06-25              6905               1356
470  127263       Zambia    2020-12-31             20462                386
471  127439       Zambia    2021-06-25            140620               1855
472  127803     Zimbabwe    2020-12-31             13625                360
473  127979     Zimbabwe    2021-06-25             44306               1709

[474 rows x 5 columns]

In [52]:
[c for  c in cummulative_by_year['Country'].unique() if not c in group_by_year_sum['Country'].unique()]

[]

In [54]:
merged = pd.concat([group_by_year_sum, cummulative_by_year['Cumulative_cases'], cummulative_by_year['Cumulative_deaths']], axis=1)

In [55]:
merged

,Country,year,New_cases,New_deaths,Cumulative_cases,Cumulative_deaths
0,Afghanistan,2020,52330,2189,52330,2189
1,Afghanistan,2021,59262,2330,111592,4519
2,Albania,2020,57727,1174,57727,1174
3,Albania,2021,74772,1281,132499,2455
4,Algeria,2020,99311,2751,99311,2751
...,...,...,...,...,...,...
469,Yemen,2021,4804,745,6905,1356
470,Zambia,2020,20462,386,20462,386
471,Zambia,2021,120158,1469,140620,1855
472,Zimbabwe,2020,13625,360,13625,360
473,Zimbabwe,2021,30681,1349,44306,1709

In [56]:
merged.to_csv('covid_by_year.csv', index=False)