In [1]:
import pandas as pd
import numpy as np
import matplotlib as mpl
import seaborn as sns

In [2]:
df_cummulative = pd.read_csv('/Users/uce/Desktop/DataAnalytics/data-labs/LabsUros/week5/Happiness-Team/data/WHO-Covid-cummulativecsv.csv')

In [5]:
df_cummulative.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 127980 entries, 0 to 127979
Data columns (total 8 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Date_reported      127980 non-null  object
 1   Country_code       127440 non-null  object
 2   Country            127980 non-null  object
 3   WHO_region         127980 non-null  object
 4   New_cases          127980 non-null  int64
 5   Cumulative_cases   127980 non-null  int64
 6   New_deaths         127980 non-null  int64
 7   Cumulative_deaths  127980 non-null  int64
dtypes: int64(4), object(4)
memory usage: 7.8+ MB

In [6]:
df_cummulative.drop(['Country_code'], axis=1, inplace=True)

In [7]:
df_cummulative.head()

,Date_reported,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
0,2020-01-03,Afghanistan,EMRO,0,0,0,0
1,2020-01-04,Afghanistan,EMRO,0,0,0,0
2,2020-01-05,Afghanistan,EMRO,0,0,0,0
3,2020-01-06,Afghanistan,EMRO,0,0,0,0
4,2020-01-07,Afghanistan,EMRO,0,0,0,0

In [8]:
palestine = df_cummulative[df_cummulative['Country'].str.contains('Palestinian')]['Country'].unique()[0]
df_cummulative.loc[df_cummulative['Country'].str.contains('Palestinian'), 'Country']='Palestine'

In [9]:
len(df_cummulative['Country'].unique())

237

In [10]:
df_cummulative['Date_reported'] = pd.to_datetime(df_cummulative['Date_reported'])

In [11]:
df_cummulative.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 127980 entries, 0 to 127979
Data columns (total 7 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Date_reported      127980 non-null  datetime64[ns]
 1   Country            127980 non-null  object
 2   WHO_region         127980 non-null  object
 3   New_cases          127980 non-null  int64
 4   Cumulative_cases   127980 non-null  int64
 5   New_deaths         127980 non-null  int64
 6   Cumulative_deaths  127980 non-null  int64
dtypes: datetime64[ns](1), int64(4), object(2)
memory usage: 6.8+ MB

In [12]:
cummulative_cols = df_cummulative[['Country', 'Date_reported', 'Cumulative_cases', 'Cumulative_deaths']].copy() #creating a copy of cummulative columns

In [13]:
cummulative_cols.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 127980 entries, 0 to 127979
Data columns (total 4 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Country            127980 non-null  object
 1   Date_reported      127980 non-null  datetime64[ns]
 2   Cumulative_cases   127980 non-null  int64
 3   Cumulative_deaths  127980 non-null  int64
dtypes: datetime64[ns](1), int64(2), object(1)
memory usage: 3.9+ MB

In [14]:
df_cummulative.drop(['Cumulative_cases', 'Cumulative_deaths'], axis=1, inplace=True)

In [15]:
df_cummulative.head()

  Date_reported      Country WHO_region  New_cases  New_deaths
0    2020-01-03  Afghanistan       EMRO          0           0
1    2020-01-04  Afghanistan       EMRO          0           0
2    2020-01-05  Afghanistan       EMRO          0           0
3    2020-01-06  Afghanistan       EMRO          0           0
4    2020-01-07  Afghanistan       EMRO          0           0

In [16]:
cummulative_by_month = cummulative_cols.loc[((cummulative_cols['Date_reported'].dt.day == 1)) | ((cummulative_cols['Date_reported'].dt.month == 1) & (cummulative_cols['Date_reported'].dt.day == 3) & (cummulative_cols['Date_reported'].dt.year == 2020))]

In [17]:
cummulative_by_month.head(30)

         Country Date_reported  Cumulative_cases  Cumulative_deaths
0    Afghanistan    2020-01-03                 0                  0
29   Afghanistan    2020-02-01                 0                  0
58   Afghanistan    2020-03-01                 5                  0
89   Afghanistan    2020-04-01               192                  4
119  Afghanistan    2020-05-01              2171                 64
150  Afghanistan    2020-06-01             15836                269
180  Afghanistan    2020-07-01             31848                778
211  Afghanistan    2020-08-01             36796               1287
242  Afghanistan    2020-09-01             38282               1410
272  Afghanistan    2020-10-01             39371               1462
303  Afghanistan    2020-11-01             41425               1536
333  Afghanistan    2020-12-01             46498               1774
364  Afghanistan    2021-01-01             52513               2201
395  Afghanistan    2021-02-01             55059               2404
423  Afghanistan    2021-03-01             55733               2444
454  Afghanistan    2021-04-01             56517               2489
484  Afghanistan    2021-05-01             59939               2631
515  Afghanistan    2021-06-01             72977               2973
540      Albania    2020-01-03                 0                  0
569      Albania    2020-02-01                 0                  0
598      Albania    2020-03-01                 0                  0
629      Albania    2020-04-01               239                 14
659      Albania    2020-05-01               735                 30
690      Albania    2020-06-01              1105                 32
720      Albania    2020-07-01              2580                 65
751      Albania    2020-08-01              5276                157
782      Albania    2020-09-01              9513                284
812      Albania    2020-10-01             13649                387
843      Albania    2020-11-01             20875                509
873      Albania    2020-12-01             38182                810

In [18]:
cummulative_by_month.sort_index(inplace=True)

In [19]:
cummulative_by_month.head(30)

         Country Date_reported  Cumulative_cases  Cumulative_deaths
0    Afghanistan    2020-01-03                 0                  0
29   Afghanistan    2020-02-01                 0                  0
58   Afghanistan    2020-03-01                 5                  0
89   Afghanistan    2020-04-01               192                  4
119  Afghanistan    2020-05-01              2171                 64
150  Afghanistan    2020-06-01             15836                269
180  Afghanistan    2020-07-01             31848                778
211  Afghanistan    2020-08-01             36796               1287
242  Afghanistan    2020-09-01             38282               1410
272  Afghanistan    2020-10-01             39371               1462
303  Afghanistan    2020-11-01             41425               1536
333  Afghanistan    2020-12-01             46498               1774
364  Afghanistan    2021-01-01             52513               2201
395  Afghanistan    2021-02-01             55059               2404
423  Afghanistan    2021-03-01             55733               2444
454  Afghanistan    2021-04-01             56517               2489
484  Afghanistan    2021-05-01             59939               2631
515  Afghanistan    2021-06-01             72977               2973
540      Albania    2020-01-03                 0                  0
569      Albania    2020-02-01                 0                  0
598      Albania    2020-03-01                 0                  0
629      Albania    2020-04-01               239                 14
659      Albania    2020-05-01               735                 30
690      Albania    2020-06-01              1105                 32
720      Albania    2020-07-01              2580                 65
751      Albania    2020-08-01              5276                157
782      Albania    2020-09-01              9513                284
812      Albania    2020-10-01             13649                387
843      Albania    2020-11-01             20875                509
873      Albania    2020-12-01             38182                810

### Grouping and summing new_cases and New_deaths by month and year

In [20]:
df_cummulative['month'] = df_cummulative['Date_reported'].dt.month

In [21]:
df_cummulative['year'] = df_cummulative['Date_reported'].dt.year

In [22]:
group_by_month_year_sum = df_cummulative.groupby(['Country', 'month', 'year']).agg({'New_cases':'sum', 'New_deaths':'sum'})

In [23]:
group_by_month_year_sum.head(30)

                        New_cases  New_deaths
Country     month year
Afghanistan 1     2020          0           0
                  2021       2693         211
            2     2020          5           0
                  2021        691          43
            3     2020        161           4
                  2021        740          41
            4     2020       1661          56
                  2021       3291         141
            5     2020      13353         194
                  2021      12093         319
            6     2020      16265         485
                  2021      39754        1575
            7     2020       5183         536
            8     2020       1620         131
            9     2020       1106          56
            10    2020       1980          71
            11    2020       4881         230
            12    2020       6115         426
Albania     1     2020          0           0
                  2021      19524         195
            2     2020          0           0
                  2021      28964         406
            3     2020        205          12
                  2021      18508         452
            4     2020        530          18
                  2021       6254         162
            5     2020        363           2
                  2021       1332          61
            6     2020       1437          30
                  2021        190           5

In [24]:
group_by_month_year_sum.sort_values(by=['Country', 'year', 'month'], inplace=True) # sorting

In [25]:
group_by_month_year_sum

                        New_cases  New_deaths
Country     month year
Afghanistan 1     2020          0           0
            2     2020          5           0
            3     2020        161           4
            4     2020       1661          56
            5     2020      13353         194
...                           ...         ...
Zimbabwe    2     2021       2723         265
            3     2021        864          63
            4     2021       1377          46
            5     2021        709          27
            6     2021       5362         115

[4266 rows x 2 columns]

In [26]:
group_by_month_year_sum = group_by_month_year_sum.reset_index()

In [27]:
cummulative_by_month = cummulative_by_month.reset_index()

In [28]:
group_by_month_year_sum.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4266 entries, 0 to 4265
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Country     4266 non-null   object
 1   month       4266 non-null   int64
 2   year        4266 non-null   int64
 3   New_cases   4266 non-null   int64
 4   New_deaths  4266 non-null   int64
dtypes: int64(4), object(1)
memory usage: 166.8+ KB

In [29]:
len(group_by_month_year_sum['Country'].unique())

237

In [30]:
len(cummulative_by_month['Country'].unique())

237

In [31]:
cummulative_by_month.head(20)

    index      Country Date_reported  Cumulative_cases  Cumulative_deaths
0       0  Afghanistan    2020-01-03                 0                  0
1      29  Afghanistan    2020-02-01                 0                  0
2      58  Afghanistan    2020-03-01                 5                  0
3      89  Afghanistan    2020-04-01               192                  4
4     119  Afghanistan    2020-05-01              2171                 64
5     150  Afghanistan    2020-06-01             15836                269
6     180  Afghanistan    2020-07-01             31848                778
7     211  Afghanistan    2020-08-01             36796               1287
8     242  Afghanistan    2020-09-01             38282               1410
9     272  Afghanistan    2020-10-01             39371               1462
10    303  Afghanistan    2020-11-01             41425               1536
11    333  Afghanistan    2020-12-01             46498               1774
12    364  Afghanistan    2021-01-01             52513               2201
13    395  Afghanistan    2021-02-01             55059               2404
14    423  Afghanistan    2021-03-01             55733               2444
15    454  Afghanistan    2021-04-01             56517               2489
16    484  Afghanistan    2021-05-01             59939               2631
17    515  Afghanistan    2021-06-01             72977               2973
18    540      Albania    2020-01-03                 0                  0
19    569      Albania    2020-02-01                 0                  0

In [32]:
group_by_month_year_sum.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4266 entries, 0 to 4265
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Country     4266 non-null   object
 1   month       4266 non-null   int64
 2   year        4266 non-null   int64
 3   New_cases   4266 non-null   int64
 4   New_deaths  4266 non-null   int64
dtypes: int64(4), object(1)
memory usage: 166.8+ KB

In [33]:
cummulative_by_month

       index      Country Date_reported  Cumulative_cases  Cumulative_deaths
0          0  Afghanistan    2020-01-03                 0                  0
1         29  Afghanistan    2020-02-01                 0                  0
2         58  Afghanistan    2020-03-01                 5                  0
3         89  Afghanistan    2020-04-01               192                  4
4        119  Afghanistan    2020-05-01              2171                 64
...      ...          ...           ...               ...                ...
4261  127835     Zimbabwe    2021-02-01             33388               1217
4262  127863     Zimbabwe    2021-03-01             36089               1463
4263  127894     Zimbabwe    2021-04-01             36882               1523
4264  127924     Zimbabwe    2021-05-01             38257               1567
4265  127955     Zimbabwe    2021-06-01             38961               1596

[4266 rows x 5 columns]

In [34]:
group_by_month_year_sum

          Country  month  year  New_cases  New_deaths
0     Afghanistan      1  2020          0           0
1     Afghanistan      2  2020          5           0
2     Afghanistan      3  2020        161           4
3     Afghanistan      4  2020       1661          56
4     Afghanistan      5  2020      13353         194
...           ...    ...   ...        ...         ...
4261     Zimbabwe      2  2021       2723         265
4262     Zimbabwe      3  2021        864          63
4263     Zimbabwe      4  2021       1377          46
4264     Zimbabwe      5  2021        709          27
4265     Zimbabwe      6  2021       5362         115

[4266 rows x 5 columns]

In [35]:
[c for  c in cummulative_by_month['Country'].unique() if not c in group_by_month_year_sum['Country'].unique()]

[]

In [36]:
merged = pd.concat([group_by_month_year_sum, cummulative_by_month['Cumulative_cases'], cummulative_by_month['Cumulative_deaths']], axis=1)

In [37]:
merged

,Country,month,year,New_cases,New_deaths,Cumulative_cases,Cumulative_deaths
0,Afghanistan,1,2020,0,0,0,0
1,Afghanistan,2,2020,5,0,0,0
2,Afghanistan,3,2020,161,4,5,0
3,Afghanistan,4,2020,1661,56,192,4
4,Afghanistan,5,2020,13353,194,2171,64
...,...,...,...,...,...,...,...
4261,Zimbabwe,2,2021,2723,265,33388,1217
4262,Zimbabwe,3,2021,864,63,36089,1463
4263,Zimbabwe,4,2021,1377,46,36882,1523
4264,Zimbabwe,5,2021,709,27,38257,1567
4265,Zimbabwe,6,2021,5362,115,38961,1596

In [38]:
merged.to_csv('covid_by_month.csv', index=False)