## Web Scraping Lab 1:


### Prepare your project:

#### Business goal:

Make sure you've understood the big picture of your project: the goal of the company (Gnod), their current product (Gnoosic), their strategy, and how your project fits into this context. Re-read the business case and the e-mail from the CTO, take a look at the flowchart and create an initial Trello board with the tasks you think you'll have to acomplish.

#### Scraping popular songs:

Your product will take a song as an input from the user and will output another song (the recommendation). In most cases, the recommended song will have to be similar to the inputed song, but the CTO thinks that if the song is on the top charts at the moment, the user will enjoy more a recommendation of a song that's also popular at the moment.

You have find data on the internet about currently popular songs. Billboard mantains a weekly Top 100 of "hot" songs here: https://www.billboard.com/charts/hot-100. 

It's a good place to start! Scrape the current top 100 songs and their respective artists, and put the information into a pandas dataframe.

In [216]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
from tqdm.notebook import tqdm
import re

In [217]:
url = 'https://www.billboard.com/charts/hot-100'

In [218]:
response = requests.get(url)

In [219]:
response.status_code

200

In [220]:
soup_top_100 = BeautifulSoup(response.content, 'html.parser')

In [221]:
#print(soup_top_100.prettify())

In [222]:
soup_top_100.select('ol.chart-list__elements span.chart-element__rank__number')[0].text

'1'

In [223]:
soup_top_100.select('ol.chart-list__elements span.chart-element__information__song')[0].text

'Butter'

In [224]:
soup_top_100.select('ol.chart-list__elements span.chart-element__information__artist')[0].text

'BTS'

In [225]:
ranking = []
title = []
artists = []
len_list = len(soup_top_100.select('ol.chart-list__elements span.chart-element__rank__number'))
len_list

100

In [226]:
for i in tqdm(range(len_list)):
    ranking.append(soup_top_100.select('ol.chart-list__elements span.chart-element__rank__number')[i].text)
    title.append(soup_top_100.select('ol.chart-list__elements span.chart-element__information__song')[i].text)
    artists.append(soup_top_100.select('ol.chart-list__elements span.chart-element__information__artist')[i].text)

  0%|          | 0/100 [00:00<?, ?it/s]

In [227]:
top_100 = pd.DataFrame({'ranking':ranking, 'title':title, 'artist':artists})

In [228]:
top_100.head()

  ranking         title                     artist
0       1        Butter                        BTS
1       2      Good 4 U             Olivia Rodrigo
2       3  Kiss Me More     Doja Cat Featuring SZA
3       4    Levitating  Dua Lipa Featuring DaBaby
4       5    Bad Habits                 Ed Sheeran

In [229]:
top_100.tail()

   ranking          title                                    artist
95      96    Twerkulator                                City Girls
96      97      Tombstone                                  Rod Wave
97      98  Miss The Rage              Trippie Redd & Playboi Carti
98      99          Rise!  Tyler, The Creator Featuring Daisy World
99     100        Working                       Tate McRae X Khalid

### Bonus

Can you find other websites with lists of "hot" songs? What about songs that were popular on a certain decade? 

You can scrape more lists and add extra features to the project.

In [230]:
url2 = 'https://www.billboard.com/articles/news/hot-100-turns-60/8468142/hot-100-all-time-biggest-hits-songs-list'

In [231]:
response2 = requests.get(url2)

In [232]:
response2.status_code

200

In [233]:
soup_top_100_alltime = BeautifulSoup(response2.content, 'html.parser')

In [271]:
soup_top_100_alltime.select('p')[29].text

'21.\xa0(Everything I Do) I Do It for You - 1991'

In [270]:
# rank number
re.findall(r'([^.]+)', soup_top_100_alltime.select('p')[29].text)

['21', '\xa0(Everything I Do) I Do It for You - 1991']

In [269]:
# title
re.findall(r'(?<=. )(.*)(?=-)', soup_top_100_alltime.select('p')[29].text)

['I Do) I Do It for You ', '']

In [237]:
# year
re.findall(r'(?<=- )(...\d)', soup_top_100_alltime.select('p')[9].text)

['1960']

In [238]:
# artist
re.findall(r'(?<=\d{4})(.*)', soup_top_100_alltime.select('p')[20].text)

['The Beatles']

In [262]:
ranking_alltime = []
title_alltime = []
year_alltime = []
artist_alltime = []

In [263]:
for i in tqdm(range(9, 112)):
    ranking_alltime.append(i-8)
    title_alltime.append(re.findall(r'(?<=. )(.*)(?=-)', soup_top_100_alltime.select('p')[i].text))
    year_alltime.append(re.findall(r'(?<=- )(...\d)', soup_top_100_alltime.select('p')[i].text))
    artist_alltime.append(re.findall(r'(?<=\d{4})(.*)', soup_top_100_alltime.select('p')[i].text))

  0%|          | 0/103 [00:00<?, ?it/s]

In [264]:
top_100_alltime = pd.DataFrame({'ranking':ranking_alltime, 'title':title_alltime, 'year':year_alltime, 'artist':artist_alltime})

In [272]:
top_100_alltime.tail(21)

,ranking,title,year,artist
82,83,"[Happy , ]",[2014],[Pharrell Williams]
83,84,[Upside Down - 1980Diana Ross“It’s such a toug...,[1980],"[Diana Ross“It’s such a tough-sounding record,..."
84,85,"[Sugar, Sugar , ]",[1969],[The Archies]
85,86,"[Just the Way You Are , ]",[2010],[Bruno Mars]
86,87,"[Dilemma , ]",[2002],[Nelly Feat. Kelly Rowland]
87,88,"[I Heard It Through the Grapevine , ]",[1968],[Marvin Gaye]
88,89,"[You’re Still the One , ]",[1998],[Shania Twain]
89,90,"[Billie Jean , ]",[1983],[Michael Jackson]
90,91,"[Hot Stuff , ]",[1979],[Donna Summer]
91,92,"[Rockstar , ]",[2017],[Post Malone Feat. 21 Savage]
92,93,"[Gangsta’s Paradise , ]",[1995],[Coolio Feat. L.V.]
93,94,"[Abracadabra , ]",[1982],[The Steve Miller Band]
94,95,"[Perfect , ]",[2017],[Ed Sheeran]
95,96,"[You’re So Vain , ]",[],[Carly Simon]
96,97,"[Play That Funky Music , ]",[1976],[Wild Cherry]
97,98,"[Say You, Say Me , ]",[1985],[Lionel Richie]
98,99,[My Sharona - 1979The Knack“Everything goes to...,[1979],[The Knack“Everything goes together to make th...
99,100,"[All Night Long (All Night) , ]",[1983],[Lionel Richie]
100,101,"[Nothing Compares 2 U , ]",[1990],[SinÉad O’Connor“Everything about it is pop pe...
101,102,[I Swear - 1994All-4],[1994],[All-4-One]
102,103,"[Family Affair , ]",[2001],[Mary J. Blige]