In [1]:
from scipy.stats import ttest_1samp, norm
import math

### comparing to the population - 85 valid assume - Z dist
### population mean is 85
### sample mean is 80.84
### collected 25 weights in sample (25 boys)
### STD of sample is 11.6
### one tailed t test - is the sample mean significantly lower than 85?
###
+ Ho - no difference
+ Ha - boys are underfed - significant difference

In [2]:
smp_mean = 80.94
pop_mean = 85
smp_std = 11.6
n = 25

### calculate the t stats

In [3]:
t_stat = (smp_mean - pop_mean) / (smp_std / (math.sqrt(n-1)))

In [4]:
t_stat

-1.7146428199482255

## test
+ 0.05 -> critical val

In [5]:
critical_val = norm.ppf(0.05)
critical_val

-1.6448536269514729

## is the difference significant?
## p val - is it less than 0.05
## Cumulative Distriburion Function CDF - on the t test, distribution
## return the cummulative norm

In [6]:
p_val = norm.cdf(t_stat)
p_val

0.04320536648684992

# Summary:
## from 2 tests - t test and p val
## accept Ha - the boys are underweight

# another example

In [8]:
smp_mean = 89.2
pop_mean = 85
smp_std = 11.6
n = 25

In [9]:
t_stat = (smp_mean - pop_mean) / (smp_std / (math.sqrt(n-1)))
t_stat

1.773768434429199

## two tailed test

In [11]:
critical_val = norm.ppf(0.025, n-1)
critical_val

22.040036015459947

## and another with different data

In [23]:
data = [76, 78, 87, 67, 75, 74, 73 ,76]
test = ttest_1samp (a=data, popmean=81)
test

Ttest_1sampResult(statistic=-2.651771230817669, pvalue=0.03285711239586275)

In [24]:
abs(test[0]) > 1.895

True

# ANOVA test

In [43]:
import pandas as pd
import statsmodels.api as sm
from statsmodels.formula.api import ols

In [26]:
data = pd.read_excel('anova_class_example_data.xlsx')

In [27]:
data

    Display_design  Percent_increase_in_sales
0                1                        575
1                2                        565
2                3                        600
3                4                        725
4                1                        542
5                2                        593
6                3                        651
7                4                        700
8                1                        530
9                2                        590
10               3                        610
11               4                        715
12               1                        539
13               2                        579
14               3                        637
15               4                        685
16               1                        570
17               2                        610
18               3                        629
19               4                        710

In [44]:
model = ols('Percent_increase_in_sales ~C(Display_design)', data=data).fit()

In [47]:
results_table = sm.stats.anova_lm(model)
results_table

                     df    sum_sq       mean_sq          F        PR(>F)
C(Display_design)   3.0  66870.55  22290.183333  66.797073  2.882866e-09
Residual           16.0   5339.20    333.700000        NaN           NaN

## is F bigger than 3.2389? (3 / 16 from F table, alpha=0.05)