In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import re

In [2]:
data = pd.read_csv('alldata.csv')

In [3]:
df = pd.DataFrame(data)

In [4]:
df.head()

,position,company,description,reviews,location
0,Development Director,ALS TDI,Development Director\nALS Therapy Development ...,NaN,"Atlanta, GA 30301"
1,An Ostentatiously-Excitable Principal Research...,The Hexagon Lavish,"Job Description\n\n""The road that leads to acc...",NaN,"Atlanta, GA"
2,Data Scientist,Xpert Staffing,"Growing company located in the Atlanta, GA are...",NaN,"Atlanta, GA"
3,Data Analyst,Operation HOPE,DEPARTMENT: Program OperationsPOSITION LOCATIO...,44.0,"Atlanta, GA 30303"
4,Assistant Professor -TT - Signal Processing & ...,Emory University,DESCRIPTION\nThe Emory University Department o...,550.0,"Atlanta, GA"

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6964 entries, 0 to 6963
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   position     6953 non-null   object
 1   company      6953 non-null   object
 2   description  6953 non-null   object
 3   reviews      5326 non-null   float64
 4   location     6953 non-null   object
dtypes: float64(1), object(4)
memory usage: 272.2+ KB

1 Location

In [6]:
df['location'].unique

<bound method Series.unique of 0        Atlanta, GA 30301
1               Atlanta, GA
2               Atlanta, GA
3        Atlanta, GA 30303
4               Atlanta, GA
               ...
6959          Sunnyvale, CA
6960          Sunnyvale, CA
6961          Sunnyvale, CA
6962          Sunnyvale, CA
6963    Sunnyvale, CA 94089
Name: location, Length: 6964, dtype: object>

In [7]:
df['city,state']=df['location'].str.extract(r'([\D]+ ?[\D]+, \D\D)')

In [8]:
df['city,state']

0         Atlanta, GA
1         Atlanta, GA
2         Atlanta, GA
3         Atlanta, GA
4         Atlanta, GA
            ...
6959    Sunnyvale, CA
6960    Sunnyvale, CA
6961    Sunnyvale, CA
6962    Sunnyvale, CA
6963    Sunnyvale, CA
Name: city,state, Length: 6964, dtype: object

In [35]:
df['state'] = df['city,state'].str[-2:]

In [36]:
df['state']

0       GA
1       GA
2       GA
3       GA
4       GA
        ..
6959    CA
6960    CA
6961    CA
6962    CA
6963    CA
Name: state, Length: 6964, dtype: object

In [42]:
df['city'] = df['city,state'].str[:-4]
df['city']

0         Atlanta
1         Atlanta
2         Atlanta
3         Atlanta
4         Atlanta
          ...
6959    Sunnyvale
6960    Sunnyvale
6961    Sunnyvale
6962    Sunnyvale
6963    Sunnyvale
Name: city, Length: 6964, dtype: object

2 Position

In [68]:
df['ds yes'] = df['position'].str.findall('data scientist', flags=re.IGNORECASE)

In [69]:
df['ds yes']

0                     []
1                     []
2       [Data Scientist]
3                     []
4                     []
              ...
6959                  []
6960                  []
6961                  []
6962                  []
6963    [Data Scientist]
Name: ds yes, Length: 6964, dtype: object

In [ ]:
map()

In [64]:
df['data scientist'] = df['ds yes'].str.contains('Data Scientist')

SyntaxError: invalid syntax (<ipython-input-64-fd5a1a5eb764>, line 1)

In [63]:
df['data scientist']

0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
        ..
6959   NaN
6960   NaN
6961   NaN
6962   NaN
6963   NaN
Name: data scientist, Length: 6964, dtype: float64

In [56]:
def rem_list(x):
    if len(x) > 0:
        return x[0]
    else:
        return 'no'

In [57]:
list(map(rem_list, df['ds yes']))

TypeError: object of type 'float' has no len()

3 Description

In [18]:
df['description'].head(20)

0     Development Director\nALS Therapy Development ...
1     Job Description\n\n"The road that leads to acc...
2     Growing company located in the Atlanta, GA are...
3     DEPARTMENT: Program OperationsPOSITION LOCATIO...
4     DESCRIPTION\nThe Emory University Department o...
5     Qualifications\nBachelor’s degree in Computer ...
6     Qualifications\nBachelor’s degree\n5-7 years o...
7     Overview / Responsibilities\nWood Environment ...
8     Works closely with senior CIB professionals. P...
9     Known for being a great place to work and buil...
10    :\n\nThe Statistical Forecast Analyst position...
11    Chenega Professional &amp; Technical Services,...
12    Innovate. Collaborate. Shine. Lighthouse — KPM...
13    DESCRIPTION\nUnder minimal supervision, the As...
14    Data Science Analyst– Business Intelligence\nL...
15    Cotiviti is looking for an industry leading Da...
16    Description\nExecutes complex assignments requ...
17    Overview\n\n\n\nAt Perficient you’ll deliver m...
18    DATA SCIENTIST\n\nSUMMARY:\nAs an Amazon Web S...
19    This position is critical to understanding dri...
Name: description, dtype: object

In [21]:
data['numbers'] = data['description'].str.extract(r'(\d)')

In [22]:
data['numbers']

0       6
1       5
2       1
3       2
4       2
       ..
6959    5
6960    2
6961    5
6962    3
6963    1
Name: numbers, Length: 6964, dtype: object

In [48]:
df['work experience'] = df['description'].str.findall(r'\d+\s\byears\b|[\d]+\S?[\d]+\s\byears\b')
df['work experience']

0                       [6-8 years]
1                                []
2                                []
3                        [25 years]
4                                []
                   ...
6959             [5 years, 7 years]
6960                      [5 years]
6961                             []
6962                             []
6963    [5 years, 3 years, 2 years]
Name: work experience, Length: 6964, dtype: object

In [49]:
df.head()

,position,company,description,reviews,location,"city,state",state,ds yes,city,work experience
0,Development Director,ALS TDI,Development Director\nALS Therapy Development ...,NaN,"Atlanta, GA 30301","Atlanta, GA",GA,[],Atlanta,[6-8 years]
1,An Ostentatiously-Excitable Principal Research...,The Hexagon Lavish,"Job Description\n\n""The road that leads to acc...",NaN,"Atlanta, GA","Atlanta, GA",GA,[],Atlanta,[]
2,Data Scientist,Xpert Staffing,"Growing company located in the Atlanta, GA are...",NaN,"Atlanta, GA","Atlanta, GA",GA,[Data Scientist],Atlanta,[]
3,Data Analyst,Operation HOPE,DEPARTMENT: Program OperationsPOSITION LOCATIO...,44.0,"Atlanta, GA 30303","Atlanta, GA",GA,[],Atlanta,[25 years]
4,Assistant Professor -TT - Signal Processing & ...,Emory University,DESCRIPTION\nThe Emory University Department o...,550.0,"Atlanta, GA","Atlanta, GA",GA,[],Atlanta,[]