In [3]:
import pandas as pd
import numpy as np
import time
from datetime import date

In [4]:
web = pd.read_csv('web_data.csv')

In [5]:
web.head()

,web_id,client_id,visitor_id,visit_id,process_step,date_time
0,0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,4/17/17 15:27
1,1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,4/17/17 15:26
2,2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,4/17/17 15:19
3,3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,4/17/17 15:19
4,4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,4/17/17 15:18

In [7]:
web.dtypes

web_id           int64
client_id        int64
visitor_id      object
visit_id        object
process_step    object
date_time       object
dtype: object

In [8]:
web.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 343141 entries, 0 to 343140
Data columns (total 6 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   web_id        343141 non-null  int64
 1   client_id     343141 non-null  int64
 2   visitor_id    343141 non-null  object
 3   visit_id      343141 non-null  object
 4   process_step  343141 non-null  object
 5   date_time     343141 non-null  object
dtypes: int64(2), object(4)
memory usage: 15.7+ MB

In [9]:
web['date_time'] = pd.to_datetime(web['date_time'], errors='coerce')

In [10]:
web.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 343141 entries, 0 to 343140
Data columns (total 6 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   web_id        343141 non-null  int64
 1   client_id     343141 non-null  int64
 2   visitor_id    343141 non-null  object
 3   visit_id      343141 non-null  object
 4   process_step  343141 non-null  object
 5   date_time     343141 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int64(2), object(3)
memory usage: 15.7+ MB

In [11]:
web['date_time'][0].time()

datetime.time(15, 27)

In [17]:
web['date_time'][0].day

17

In [18]:
web['date_time'][0].month

4

In [19]:
web['date_time'][0].year

2017

In [24]:
web['date_time'][0].hour

15

In [25]:
web['date_time'][0].minute

27

In [27]:
web[0:1]

,web_id,client_id,visitor_id,visit_id,process_step,date_time
0,0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:00

In [28]:
web['date_time'][123].month

4

In [31]:
web['date_time'][123].strftime(format='%d-%m-%Y') # reformating and converting to string

'05-04-2017'

In [32]:
web['Month'] = pd.DatetimeIndex(web['date_time']).month # create a new column 'Month' from web['date_time'].month

In [50]:
web.head()

,web_id,client_id,visitor_id,visit_id,process_step,date_time,Month,Day,Weekday,Today
0,0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:00,4,17,0,2021-06-04
1,1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:00,4,17,0,2021-06-04
2,2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:00,4,17,0,2021-06-04
3,3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:00,4,17,0,2021-06-04
4,4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:00,4,17,0,2021-06-04

In [34]:
web['Day'] = pd.DatetimeIndex(web['date_time']).day

In [41]:
web_saturdays = web.loc[web['date_time'].dt.weekday == 5] # locate by weekday - monday == 0, sunday == 6
web_sundays = web.loc[web['date_time'].dt.weekday == 6]

In [42]:
web_saturdays.shape

(30224, 8)

In [43]:
web_sundays.shape

(35722, 8)

In [44]:
web['Weekday'] = pd.DatetimeIndex(web['date_time']).weekday

In [47]:
web['Today'] = date.today()

In [49]:
time.localtime(time.time())

time.struct_time(tm_year=2021, tm_mon=6, tm_mday=4, tm_hour=12, tm_min=1, tm_sec=17, tm_wday=4, tm_yday=155, tm_isdst=1)