In [1]:
import pandas as pd

In [7]:
df1 = pd.read_excel('/Users/uce/Desktop/DataAnalytics/data-labs/LabsUros/week4/old_faithful/oldfaithful_1.xlsx')

In [8]:
df2 = pd.read_excel('/Users/uce/Desktop/DataAnalytics/data-labs/LabsUros/week4/old_faithful/oldfaithful_2.xlsx')

In [9]:
df3 = pd.read_excel('/Users/uce/Desktop/DataAnalytics/data-labs/LabsUros/week4/old_faithful/oldfaithful_3.xlsx')

In [10]:
df4 = pd.read_excel('/Users/uce/Desktop/DataAnalytics/data-labs/LabsUros/week4/old_faithful/oldfaithful_4.xlsx')

In [11]:
df5 = pd.read_excel('/Users/uce/Desktop/DataAnalytics/data-labs/LabsUros/week4/old_faithful/oldfaithful_5.xlsx')

In [12]:
df5.head()

   Eruption ID data_team
0            1         B
1            2         B
2            3         B
3            4         C
4            5         C

In [13]:
df_new = pd.concat([df1, df5], axis=1)

In [14]:
df_new.head()

,Eruption ID,Eruption duration (in minutes),Wait Time (in minutes),Eruption ID,data_team
0,1,3.600,79,1.0,B
1,2,1.800,54,2.0,B
2,3,3.333,74,3.0,B
3,4,2.283,62,4.0,C
4,5,4.533,85,5.0,C

# concat :
## axis, columns, rows, ignore_index, join(inner, outer(for diff))

In [15]:
df_new2 = pd.concat([df2, df3])

In [16]:
df_new2.head()

   Eruption ID  Eruption duration (in minutes)  Wait Time (in minutes)
0          232                           2.417                      54
1          233                           4.183                      86
2          234                           2.217                      50
3          235                           4.450                      90
4          236                           1.883                      54