# 1 MAP

In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({'A':['Wednesday', 'THURSDAY']})

In [3]:
df

           A
0  Wednesday
1   THURSDAY

In [5]:
def make_lower(x):
    return x.lower()

In [7]:
list(map(make_lower, df['A']))

['wednesday', 'thursday']

In [8]:
df['A'].apply(make_lower)

0    wednesday
1     thursday
Name: A, dtype: object

In [10]:
list(map(str, [1,2,3,4,5]))

['1', '2', '3', '4', '5']

In [11]:
def square_it(x):
    return x**2

In [12]:
list(map(square_it, [1,2,3,4,5]))

[1, 4, 9, 16, 25]

In [13]:
def judge_groceries(x, y):
    return f'What is this? A {x}, {y}!'

In [15]:
fruits = ['apple', 'kiwi', 'cherry', 'sprouts']
words = ['yummy', 'yummy', 'meh', 'yummy']

In [16]:
list(map(judge_groceries, fruits, words))

['What is this? A apple, yummy!',
 'What is this? A kiwi, yummy!',
 'What is this? A cherry, meh!',
 'What is this? A sprouts, yummy!']

In [17]:
[square_it(i) for i in [1,2,3,4,5,6]]

[1, 4, 9, 16, 25, 36]

# 2 FILTER

In [18]:
(lambda x: x < 0)(-10)

True

In [19]:
list(filter(lambda x: x < 0, [-1, 2, -5, 10, 2, -10]))

[-1, -5, -10]

In [30]:
df = pd.DataFrame({'A':[21, -10, 40, 3], 'B':['wed', 'thu', 'fri', 'sat']})

In [35]:
df.groupby('B').agg({'A':'sum'})

      A
B
fri  40
sat   3
thu -10
wed  21

# 3 REDUCE

In [36]:
from functools import reduce

In [39]:
reduce((lambda x, y: x * y),[1,2,3,4,5,6])

720

In [40]:
reduce((lambda x, y: x + y),[1,2,3,4,5,6])

21

In [41]:
reduce(lambda a, d: 10*a + d, [1,2,3,4,5,6], 10)

10123456

In [42]:
reduce((lambda x, y: x * y),[], 1)

1

# 4 APPLY

In [43]:
data = pd.read_csv('/Users/uce/Desktop/DataAnalytics/data-labs/LabsUros/week1/data_case_study_1/file4.csv')

In [44]:
df = pd.DataFrame(data)

In [45]:
df.head()

,CONTROLN,STATE,GENDER,HV1,IC1,IC4,HVP1,IC5,POBC1,POBC2,IC2,IC3,AVGGIFT,TCODE,DOB,DOMAIN,TARGET_D
0,186307,CA,M,AAA1229,345,438,3,15915,2,58,388,417,16.142857,1,2511,C2,20.0
1,34174,WV,F,529,198,291,0,10816,0,80,218,257,6.083333,2,3001,T2,12.0
2,101388,MO,M,526,340,342,0,9687,0,89,348,321,5.800000,1,5501,R2,10.0
3,159472,CA,F,621,231,279,0,6184,43,41,237,272,11.666667,1,1512,R3,15.0
4,179143,WA,male,1688,496,564,35,22963,2,63,520,521,23.900000,1,3709,T1,25.0

In [46]:
domain_categories = {'U': 'Urban',
                    'C': 'City',
                    'S': 'Suburban',
                    'T': 'Town',
                    'R': 'Rural'}

In [47]:
import numpy as np

In [52]:
def clean_domain(x):
    if x[0] in list(domain_categories.keys()):
        return domain_categories[x[0]]
    else:
        return np.NaN

In [53]:
df[domain_cleaned] = df['DOMAIN'].apply(clean_domain)

NameError: name 'domain_cleaned' is not defined